@tailwind base;
@tailwind components;
@tailwind utilities;

/*
body {
  padding: 1em;
  font-family: 'Helvetica';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-size: 5em;
  margin-bottom: .2em;
}

.usersTableColumns{
  display: grid;
  grid-template-columns: repeat(3,20em);
  width: fit-content;
  background-color: lightgrey;
  text-align: center;
}
.usersTableColumns--child{
  border: 1px solid black;
}*/